<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="<?php echo $ENCODING; ?>" />
		<title>F3 Blog</title>
		<base href="<?php echo $SCHEME.'://'.$HOST.':'.$PORT.$BASE.'/'; ?>" />		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	</head>
	<body class="container" >
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand">Fat Free Blog</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">					
					<li><a href="/">Home</a></li>
					<li><a href="addpostform">Add Post</a></li>
				  </ul>

				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		<div style='margin:0 auto; max-width:900px'>
			<repeat group="{{ @posts }}" value="{{ @post }}">	
				<h1>{{@post->title}}</h1>
				<p>Posted on: {{@post['postdate']}}</p>
				<div>{{ @post->content }}</div>
				<p>
					<a href='getpostbyid/{{@post->id}}'>View Post</a>	|	
					<a href='editpostform/{{@post->id}}'>Edit Post</a>	|	
					<a href='deletepost/{{@post->id}}'>Delete Post</a>
				</p>
			</repeat>
		</div>
	</body>
</html>
